<!doctype html>
<html lang="en" ng-app="profileApp" lang="en">
<head>
    <link rel="stylesheet" href="https://rawgit.com/angular/bower-material/master/angular-material.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=RobotoDraft:300,400,500,700,400italic">
    <link rel="stylesheet" href="css/theme.css">
    <link rel="stylesheet" href="http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
    <meta name="viewport" content="initial-scale=1"/>
    <meta content="text/html;charset=utf-8" http-equiv="Content-Type">
    <meta content="utf-8" http-equiv="encoding">
</head>
<body layout="column" ng-controller="ProfileCtrl" ng-cloak>
<md-toolbar>
    <div class="md-toolbar-tools">
        <h2>
            <span>{{data.name}}</span>
        </h2>
        <span flex></span>
        <md-button class="md-icon-button" aria-label="{{icon.name}}" ng-repeat="icon in data.navs" ng-href="{{icon.link}}" target="_blank">
            <md-icon md-font-icon="{{icon.res}}"></md-icon>
        </md-button>
    </div>
</md-toolbar>
<div flex ng-hide="!loading">
    <md-content flex class="md-padding md-whiteframe-z2">
        <div layout="column" flex layout-align="center center" style="padding: 10px;">
            <md-progress-linear class="md-warn" md-mode="indeterminate"></md-progress-linear>
        </div>
    </md-content>
</div>
<div layout="row" flex ng-hide="loading">
    <div layout="column" flex id="content">
        <md-content layout="column" flex class="md-padding">
            <md-tabs md-dynamic-height md-border-bottom>
                <md-tab ng-repeat="page in data.pages" label="{{page.menu}}">
                    <md-toolbar class="md-warn">
                        <div class="md-toolbar-tools">
                            <h2 class="md-flex">{{page.header}}</h2>
                        </div>
                    </md-toolbar>
                    <div flex layout="column">
                        <md-content flex class="md-padding md-whiteframe-z2">
                            <div ng-if="page.type != 'html'">
                                <markdown ng-include="page.page"></markdown>
                            </div>
                            <div ng-if="page.type == 'html'">
                                <div ng-include="page.page"></div>
                            </div>
                        </md-content>
                        <md-content class="md-padding md-whiteframe-z3">
                            <div ng-if="copyright.type == 'md'">
                                <markdown ng-include="copyright.content"></markdown>
                            </div>
                            <div ng-if="copyright.type == 'html'">
                                <div ng-include="copyright.content"></div>
                            </div>
                            <div layout="horizontal" ng-if="copyright.type != 'md' && copyright.type != 'html'"
                                 layout-align="center center">
                                {{copyright.content}}
                            </div>
                        </md-content>
                </md-tab>
            </md-tabs>
    </div>
    </md-content>
</div>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular-sanitize.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular-animate.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular-aria.min.js"></script>
<script src="https://rawgit.com/angular/bower-material/master/angular-material.js"></script>
<script src="https://www.youtube.com/iframe_api"></script>
<script src="js/angular-youtube-embed.min.js"></script>
<script src="js/Showdown.min.js"></script>
<script src="js/github.min.js"></script>
<script src="js/controller.js"></script>
</body>
</html>