<div ng-init="
    projects = [
        {
            name : 'SRM Technologies',
            items : [
                {
                    title : 'Shared Information Infrastructure Software',
                    team : 6,
                    env : 'JavaFX SDK, Android NDK, Android SDK',
                    dur : '6 months (September, 2013 to February, 2014)',
                    role : 'Programmer',
                    des : 'The project aims in Development of Software/Protocol Stack which is combination of Pub-Sub and DTN concepts. It includes development of Software Front End and Core Protocol Stack for both Linux and Android operating system. The primary goal of the software is to increase the communication gap between Students and Teachers by providing a Network Infrastructure Independent way to share Information and News.'
                },
                {
                    title : 'Android Automation Tool',
                    team : 4,
                    env : 'Proprietary Android SDK, Proprietary UI Automation framework, Eclipse, Jenkins, Gerrit, Android Acceptance Test and Instrumentation. Languages include Java, Bash, Python and Jenkins build scripts, Gradle scripts',
                    dur : '12 months (June, 2014 to May, 2015), Ongoing',
                    role : 'Programmer',
                    des : 'Maintenance of existing Android Proprietary UI Automation framework with native framework modeling and enhancement. Development of new Proprietary UI Automation framework for Android L. This project deals with maintenance, enhancement and development of android UI automation framework to execute superior automated UI testing and System testing remotely on proprietary android devices with custom Android OS.'
                }
            ]
        },
        {
            name : 'Academic Projects',
            items : [
                {
                    title : 'Liquid Interface Control using Hand Gesture',
                    team : 2,
                    env : 'Matlab',
                    dur : '6 months',
                    role : 'Programmer, Algorithm Designer',
                    des : 'Development of Algorithms for Human Computer Interaction on Liquid Surface Interfaces. The project aims development of software which applies image processing techniques to convert any 2D Surface to a touch based input devices by only using Camera.'
                },
                {
                    title : 'Surface Computing 4G HCI',
                    team : 2,
                    env : 'Visual C#, Aforge.NET, EmugCV',
                    dur : '6 months',
                    role : 'Programmer, Algorithm Designer, Hardware Developer',
                    des : 'Development Low Cost Hardware and Software for 4th Generation Human Computer Interaction. The project involves development of complete Software Stack with development two different Multi-Touch hardware based on Frustrated Total Internal Reflection and Diffused Illumination in Infrared Spectrum. The project also involves in development of unified and optimized image processing algorithms to process Infrared Spectrum at realtime and provide Multi-Touch inputs to Windows 7 Kernel via HID interface.',
                    vid : 'https://www.youtube.com/embed/cTaj0XCenGE'
                },
                {
                    title : 'Investigation of Graphical Authentication Techniques',
                    team : 1,
                    env : 'Matlab',
                    dur : '2 months',
                    role : 'Programmer, Algorithm Designer',
                    des : 'Research and Development of Algorithms for Graphical Authentication techniques for which graphical passwords can only be remembered easily but can not be written down or passed to other human for fraud. Primary objective of the project is to replace CAPTCHA by combining Multiphase Authentication and Human Detection Techniques.'
                },
                {
                    title : 'DTN System for Rural Educational Systems',
                    team : 1,
                    env : 'NASA ION DTN, DTN2 NumPy, SciPy, GNU Plot, ONE Simulator',
                    dur : '6 months',
                    role : 'Programmer, Algorithm Designer, Protocol Developer',
                    des : 'The project aims in development of Low Cost Hardware Software Stack which will allow Free and Autonomous distribution of Educational Materials from Urban Universities to Village Schools using Local Bus Transportation System. The project also aims in development of new Lightweight DTN Protocol for ARM Hardware and Mathematical Model development and Simulation to analysis the content delivery process.'
                },
                {
                    title : 'vMouse A Virtual Mouse Interface',
                    team : 2,
                    env : 'QT, OpenCV',
                    dur : '6 months',
                    role : 'Programmer',
                    des : 'The project aims in development of a human computer interaction system based on digital image processing to replace hardware based mouse interface.',
                    vid : 'https://www.youtube.com/embed/U8uP15knOBk',
                    link : 'http://kunaldawn.github.io/vmouse-opencv-qt-hand-gesture-hci/'
                }
            ]
        }
    ]">
    <div ng-repeat="project in projects" >
        <div class="panel panel-default">
            <div class="panel-heading">
                <div class="panel-title"><h2>{{project.name}}</h2></div>
            </div>
            <div class="panel-body">
                  <div ng-repeat="item in project.items">
                      <div class="panel panel-default">
                          <div class="panel-heading">
                              <h3>Title: {{item.title}}</h3>
                          </div>
                          <div class="panel-body">
                              <div>
                                  <ul class="list-group">
                                      <li class="list-group-item">
                                                <b>Team Size : </b>{{item.team}}
                                      </li>
                                      <li class="list-group-item">
                                            <b>Environment : </b>{{item.env}} 
                                      </li>
                                      <li class="list-group-item">
                                            <b>Duration : </b>{{item.dur}}
                                      </li>
                                      <li class="list-group-item">
                                            <b>Role : </b>{{item.role}}
                                      </li>
                                      <li class="list-group-item">
                                            <b>Description : </b>{{item.des}}
                                      </li>
                                      <li class="list-group-item" ng-if="item.link">
                                            <b>Source : <a href="{{item.link}}">{{item.link}}</a></b>
                                      </li>
                                    </ul>
                                    <p>
                                        <div class="embed-responsive embed-responsive-16by9" ng-if="item.vid">
                                            <iframe ng-if="item.vid" class="embed-responsive-item" ng-src="{{item.vid}}"></iframe>
                                        </div>
                                    </p>
                                </div>
                          </div>
                      </div>
                  </div>
            </div>
        </div>
    </div>
<div>

